@import '../../../styles/colors';

.genre-link {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: $primaryColor;
  align-items: center;
  justify-content: center;
  color: $bgColor;
  font-size: 1.6rem;
}
